.header {
    padding: 20px 0;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
    transition: border-bottom 0.3s ease;
}

.nav-link:hover {
    border-bottom: 1px solid #fff;
}

.nav-item:not(:last-child) {
    margin-right: 10px;
}
